body {
  background-color: rgb(165, 64, 64);
}

h1 {
  color: rgb(211, 128, 20);
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

a {
  color: rgb(211, 128, 20);
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

a:hover {
  color: red;
}

#a1 {
  top: 33%;
}

#a2 {
  top: 38%;
}