#btns1 {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -10%);
}
#btns2 {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -10%);
}
#btns3 {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -10%);
}


#returnbtn {
  text-align: right;
}

h1 {
  position: fixed;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -50%);
  background-color: ;
  color: #7c3801;
}

body {
  background-color: #d36c17;
}