body {
  background-color: #ff7f50;
}

#heading {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: black;
  border: 4px solid black;
  background-color: whitesmoke;
}

#headingSecLine {
  text-align: center;
}

#btn {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}